# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = false

[{*.yml,*.sublime-syntax}]
indent_style = space
indent_size = 2

[{*.tmPreferences,*.sublime-snippet}]
indent_style = tab

# Syntax test files should use spaces to work correctly and we should
# not strip tailing whitespace that may be part of a test.
[syntax_test_*]
trim_trailing_whitespace = false
indent_style = space
