# OS specific ignores

.DS_Store
Thumbs.db
[Dd]esktop.ini

# excluded packages

/Default/
/User/

# Python / TextMate cache files

__pycache__/
*.py[cod]
*.cache

# Sublime Text / Project workspace files

*.sublime-workspace
