# SYNTAX TEST "Packages/Rails/HTML (Rails).sublime-syntax"

<p>Normal HTML</p>
#  ^ text.html.ruby

<%# ruby comment %>
# ^ comment.block punctuation.definition.comment

<% if true # comment inside embedded %>
# <- punctuation.section.embedded
#  ^ source.ruby.rails.embedded.html
#          ^ punctuation.definition.comment
  
  <p>Normal HTML</p>
#    ^ text.html.ruby
<% end %>
#  ^ keyword.control

<% if false -%><p>inline erb</p><% end -%>
# <- punctuation.section.embedded
#     ^ constant.language
#           ^^^ punctuation.section.embedded

<p style="font-weight: <% if show_bold %>bold<% else %>normal<% end %>">
#         ^^^^^^^^^^^ support.type.property-name
#                      ^^ punctuation.section.embedded
#                         ^ keyword.control
#                                               ^ keyword.control
#                                                               ^ keyword.control
</p>
