/ SYNTAX TEST "Packages/Rails/HAML (Rails).sublime-syntax"

#myview.html.haml
/ <- entity.name.tag.id.haml punctuation.definition.tag.haml
/^^^^^^ entity.name.tag.id.haml
/      ^^^^^^^^^^ entity.name.tag.class.haml
/      ^ punctuation.definition.tag.haml
/           ^ punctuation.definition.tag.haml

%h1= @the_title
/ <- meta.tag.haml punctuation.definition.tag.haml
/^^ meta.tag.haml entity.name.tag.haml
/  ^^^^^^^^^^^^ meta.line.ruby.haml

%p
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml

    This is my form

= render 'form'
/ <- meta.line.ruby.haml
/^^^^^^^^^^^^^^ meta.line.ruby.haml source.ruby.embedded.haml
/ ^^^^^^ support.function.actionpack.rails
/        ^^^^^^ meta.string.ruby string.quoted.single.ruby

%p{:class => "myclass", :id => "myid"} My paragraph
/ <- meta.tag.haml punctuation.definition.tag.haml
/^ meta.tag.haml entity.name.tag.haml
/ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.section.attributes.haml meta.braces.haml
/ ^ punctuation.section.braces.begin.haml
/  ^ constant.other.symbol.ruby punctuation.definition.constant.ruby
/   ^^^^^ constant.other.symbol.ruby - punctuation
/         ^^ punctuation.separator.key-value.ruby
/            ^^^^^^^^^ meta.string.ruby string.quoted.double.ruby
/            ^ punctuation.definition.string.begin.ruby
/                    ^ punctuation.definition.string.end.ruby
/                     ^ punctuation.separator.sequence.ruby
/                       ^ constant.other.symbol.ruby punctuation.definition.constant.ruby
/                        ^^ constant.other.symbol.ruby
/                           ^^ punctuation.separator.key-value.ruby
/                              ^^^^^^ meta.string.ruby string.quoted.double.ruby
/                              ^ punctuation.definition.string.begin.ruby
/                                   ^ punctuation.definition.string.end.ruby
/                                    ^ punctuation.section.braces.end.haml
